/** @format */

.App {
	text-align: center;
}

.square{
	height: 40px;
	width: 40px;
	border: 1px solid;
	margin: 0 !important;
	padding: 0 !important;
  margin-top: 2px;
}

.board-row {
	margin: 0 !important;
	padding: 0 !important;
}
.game-board{
  margin: 0 !important;
	padding: 0 !important;
  font-size: large;
}
.game-info ul{
  list-style: none;
  text-decoration: none;

}
.game{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}